<div>
    <div>
      <h4>Resend Email Verification</h4>
      <ng-container *ngIf="sent === true; else elseTemplate">
          <h5>Email sent to {{email.value}} please verify your account before logging in</h5>
          <a routerLink="/login"><button>Login</button></a>
      </ng-container>
      <ng-template #elseTemplate>
        <form (submit)="resend()" [formGroup]="form">
            <p>Email <input name="email" type="text" formControlName="email"></p>

          <div *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger">

            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.pattern">
              Email does not match format.
            </div>
          </div>

          <div *ngIf='sent === false'>
              <p [style.color]="red">No account found with that email</p>
          </div>

          <input type="submit" value="Send">
        </form>
    </ng-template>

    </div>
  </div>
